body {
    content: "";
    font-family: "Century Schoolbook";
    position:relative;
    margin: 0;
}
body::after {
    content: "";
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-image: url(images/courtroom.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
a:link {
    color: red;
    font-weight: bold;
}
a:visited {
    color: gray;
}
.button {
    border: .5vw;
    border-style: outset;
    border-color: #635805;
    padding: 0.5vw 1vw;
    background-color: #ffe9b3;
    height: auto;
    width: auto;
    display: inline-block;
    border-radius: 10px;
    font-size: 1.25em;
    opacity: 0.9;
    margin-bottom: 20px;
    text-align: center;
}
p,
ul {
    line-height: 1.5em;
    border: .5vw;
    border-style: ridge;
    border-style: outset;
    border-color: white;
    background-color: #00204f;
    color: white;
    width: 90%;
    opacity: 0.9;
    border-radius: 10px;
    padding: 1vw;
    font-size: 1.25em;
    margin: 1vw auto;
}
h2 {
        line-height: 1.5em;
    border: .5vw;
    border-style: ridge;
    border-style: outset;
    border-color: #c9be73;
    background-color: white;
    opacity: 0.9;
    border-radius: 10px;
    text-align: center;
    color: #00204f;
    padding: 1vw;
    font-size: 2.5em;
    margin-top: 0;
}
img.bio, img.bioReece{
    flex: 0;
    width: 25vw;
    height: auto; 
    min-width: 25%; 
    display: block;
    border: .7vw;
    border-style: outset;
    border-color: #ad9947;
}
div.bioImgDiv{
    background-color: rgba(0, 32, 79, 0.9);
}
.character_name {
    font-size: 2em;
    font-weight: bold;
    margin-left: auto;
    margin-top: 0;
}
p.characters {
    flex: 1;
}
section.characters {
    display: flex;
    align-items: normal;
    flex-direction: row;
    width: 100%;
}

nav {
    text-align: center;
}
.codeWindow {
        max-width: 75vw;
        max-height: 35vw;
        overflow: auto;
        border-color: gold;
        border-radius: 10px;
        border-style: outset;
        margin: 20px auto;
        padding: 10px;
        box-sizing: border-box;
        background-color: white;
    }
.codeWindow code {
    font-size: medium;
    color: black;
}
ul.centered {
    width: 40%;
    margin: 0 auto; 
    padding: 0; 
}
iframe.nestedHTMLs{
    width: 75vw;
    height: 42vw;
    border-color: gold;
    border-radius: 10px;
    border-style: outset;
    margin: 20px auto;
    display: block;
}
img.centerIMG{
    max-width: 60vw;
    max-height: 45vw;
    overflow: auto;
    border-color: gold;
    border-radius: 10px;
    border-style: outset;
    margin: 20px auto;
    display: block;
}
iframe.youtube{
    width: 60vw;
    height: 38vw;
    border-color: gold;
    border-radius: 10px;
    border-style: outset;
    margin: 20px auto;
    display: block;
}